#Name
{
	margin-left:900px;
	margin-right:0px;
	margin-top:	42px;
	font-weight:bold;
  font-size: 17px;
}

#nm
{
	margin-left:450px;
	margin-right:0px;
	margin-top:40px;
	font-family:Arial, "Helvetica", sans-serif;
  	font-weight:bold;
  	font-size: 17px;
 }


#Regg
{
  margin-left:900px;
  margin-right:0px;
  margin-top: -317px;
  font-weight:bold;
  font-size: 17px;
}

#reg
{
  margin-left:450px;
  margin-right:0px;
  margin-top:-120px;
  font-family:Arial, "Helvetica", sans-serif;
    font-weight:bold;
    font-size: 17px;
 }

 #Sexx
{
  margin-left:900px;
  margin-right:0px;
  margin-top: 42px;
  font-weight:bold;
  font-size: 17px;
}

#sex
{
  margin-left:450px;
  margin-right:0px;
  margin-top:40px;
  font-family:Arial, "Helvetica", sans-serif;
    font-weight:bold;
    font-size: 17px;
 }


 #DOBB
{
  margin-left:900px;
  margin-right:0px;
  margin-top: 42px;
  font-weight:bold;
  font-size: 17px;
}

#dob
{
  margin-left:450px;
  margin-right:0px;
  margin-top:40px;
  font-family:Arial, "Helvetica", sans-serif;
    font-weight:bold;
    font-size: 17px;
 }

 #CNN
{
  margin-left:900px;
  margin-right:0px;
  margin-top: 42px;
  font-weight:bold;
  font-size: 17px;
}

#cn
{
  margin-left:450px;
  margin-right:0px;
  margin-top:40px;
  font-family:Arial, "Helvetica", sans-serif;
    font-weight:bold;
    font-size: 17px;
 }


 #Emaill
{
  margin-left:900px;
  margin-right:0px;
  margin-top: 42px;
  font-weight:bold;
  font-size: 17px;

  }

#email
{
  margin-left:450px;
  margin-right:0px;
  margin-top:40px;
  font-family:Arial, "Helvetica", sans-serif;
    font-weight:bold;
    font-size: 17px;
 }

#image
{
  margin-left:0px;
  margin-right:0px;
  margin-top:0px;
  border-radius: 80%;
  max-width: 20%;
  height:40%;


  
}
.my-class{
   width: 140px;
  border-radius: 88px;
  margin-top: 6px;
}
#dfghj
{

}

#rough
{
 background-color: white;
    font-family:Arial, "Helvetica", sans-serif;
    width:230px;
    height:30px;
    padding-top:10px;
    padding-left:5px;  
    font-size: 17px;
    border: 1px solid gray;
    box-shadow: 0px 0px 0px 0px rgba(2,1,305,0.2);  
}
